body, html {
  font-family: 'Roboto', Arial, sans-serif;
  height: 100%;
  margin: 0;
}
paper-card{
  position:absolute;
  bottom:25px;
  left:25px;
  z-index:1;
}
paper-tabs {
  --paper-tabs-selection-bar-color: #0D47A1;
  margin-top: 16px;
}
paper-tab {
  --paper-tab-ink: #BBDEFB;
}

paper-tab iron-icon {
  margin-right: 10px;
}
paper-tab.iron-selected {
  background: rgb(66, 133, 244);
  color: white;
}